/* Enable vertical scroll all the time */
html {
    overflow-y: scroll;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #9d9d9d;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #080808
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #eee;
    background-color: transparent;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * BS Callout
*/
.bs-callout-info {
    border-left-color: #1b809e !important;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info h4 {
    color: #1b809e;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

/*
 * Badge Color CSS
*/
.badge-success{
  background-color: #5cb85c;
}
.badge-danger{
  background-color: #d9534f;
}

/*
 * Navbar right
 */

.navbar-right {
  margin-right: 15px;
}

/*
 * Misc
 */
 .navbar-fixed-top {
    border-bottom: 2px solid #2e6da4;
}

.selectize-input {
  overflow: initial;
}

.sign-out{
  color: #fff;
  background-color: #333;
  border-color: #fff;
}

.sign-out:hover{
  color: #000;
  background-color: #fff;
  border-color: #333;
}

/*
 * Home Page Description
 */
.main-head-index {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.05) inset;
    padding-top: 90px;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at 50% 50% , #294172 15%, #233862 70%) repeat scroll 0 0;
    text-align: center;
}

@media (max-width: 1380px)
.main-head-index h1 {
    font-size: 44px;
}
.main-head-index h1, .main-head-index h4 {
    color: #fff;
}
.main-head-index h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 52px;
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    height: 150px;
    width: 150px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.grey-pattern-box {
    background: url(../images/grey-pattern.png) no-repeat right 0px center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*./ Homepage Description*/

/*
 * Homepage Footer
 */
.text-center {
    text-align: center;
}
.home-footer{
  background-color: #777;
  color: #fff;
}
/*./Homepage Footer*/

/*
 * Navbar Custom CSS
 */
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #e5e5e5;
    background-color: #2e6da4;
    background-image: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e5e5e5;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #e5e5e5;
    background-color: #2e6da4;
    background-image: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #2e6da4;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #2e6da4;
}
.navbar-inverse .navbar-toggle {
    border-color: #2e6da4;
}
/*./ Navbar Custom CSS*/

/*
 * From the design of customize google sign button
 */
 .abcRioButton:hover {
     -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
     box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
 }
 .abcRioButtonLightBlue {
     background-color: #fff;
     color: #757575;
 }
 .abcRioButton {
     -webkit-border-radius: 1px;
     border-radius: 1px;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
     transition: background-color .218s,border-color .218s,box-shadow .218s;
     -webkit-user-select: none;
     -webkit-appearance: none;
     background-color: #fff;
     background-image: none;
     color: #262626;
     cursor: pointer;
     outline: none;
     overflow: hidden;
     position: relative;
     text-align: center;
     vertical-align: middle;
     white-space: nowrap;
     width: auto;
 }
 .abcRioButtonIcon {
    float: left;
}
 .abcRioButtonContentWrapper {
    height: 100%;
    width: 100%;
}
.abcRioButtonContents {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
    color: #777;
    text-decoration: none;
}
.abcRioButton a, .abcRioButton a:hover, .abcRioButton a:focus {
  text-decoration: none;
}
